@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Lobster&family=Montserrat:wght@100&family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin-bottom: 10px;
  color: white;
  font-size: 1em;
  font-family: "Playfair Display", serif;
}
h3 {
  color: white;
}
h2 {
  color: white;
  margin-bottom: 5px;
  font-size: 1.2rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: violet;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 256px;
  text-align: center;
  border: 10px solid black;
  background: black;
  border-radius: 5px;
}
.contain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(37px, auto);
}
input {
  margin-bottom: 4px;
  margin-left: ;
  border-radius: 4px;
  height: 30px;
  text-align: center;
}
button {
  margin: 4px;
  border: none;
  border-radius: 4px;
  background: purple;
  color: white;
}
button:hover {
  cursor: pointer;
  color: white;
  font-weight: solid;
  background: violet;
  font-size: 1.1rem;
}